@{
    ViewData["Title"] = "Patrick Petty Amateur Firearm Instruction Classes";
}

<div class="text-center">
    <h1 class="display-4">Amateur Firearms Training Class</h1><br/>
    
    <div style="background-color: rgba(211, 211, 211, 0.5); border-radius: 10px; padding: 10px;"><br />
        <img src="~/img/petty, patrick.jpg" class="rounded-img" style="height: 535px"/>
        <img src="~/img/img_3809.png" class="rounded-img" style="margin-left: 10px"><br /><br />
        <p>
            My name is Patrick Petty and my hobby is everything firearms. I love the design, history, and function of firearms.
            After my younger sister was killed in a school shooting in 2018 the 2nd Amendment of the Constitution became even more 
            important to me than it was. The tragedy that took my sister from my family and me helped me to realize that no one is 
            coming to save you. You are your own first responder in an emergency. The 2nd Amendment is the protection the Founding 
            Fathers left for us to ensure we would be able to protect ourselves from the evils in this world. This is where my 
            passion for firearms, firearms training, and teaching others about firearms comes from.
        </p>
    </div><br/>

    
    <div style="background-color: rgba(211, 211, 211, 0.5); border-radius: 10px; padding: 10px;">
        <br /><img src="~/img/img_3818.png" class="rounded-img" style="width: 700px"/><br/><br/>
        <p>
            Now, I know what you might be thinking. I'm not a doomsday person and I don't walk around everyday waiting for bad things 
            to happen. I'm a happy, normal person, but I'm also a realist. Bad things happen and bad people exist in this world. For 
            some that is a scary, overwhelming thought. I want to try to take some of that fear out of the world. Firearms are tools 
            like many other things we use in our lives, many people don't understand them or how they work and are afraid as a result. 
            This is where I come in! My passion is teaching people the basics of firearms, how they work, how to safely handle them and
            the purpose behind the 2nd Amendment. I've found that as we understand things we become less afraid of them. My goal is not 
            to make people love guns as much as I do, rather, it is to help them feel more comfortable with something that scares so many.
        </p>
    </div>
</div>